version: '2'
services:
  expenseManager:
    environment:
      ENV: lcl
      DB_URL: jdbc:postgresql://host.docker.internal:5430/expensemanager
      DB_USER: postgres
      DB_PASS: KfImvSFjTU1LpgQd3F4l5w==
      DB_DRIVER: org.postgresql.Driver
      HIBERNATE_DIALECT: au.com.mason.expensemanager.dao.MyPostgreSQL94Dialect
      HIBERNATE_HBM2DDL_AUTO: update
      AUTH_SERVICE_END_POINT: http://host.docker.internal:8082
      REQUIRED_INFO: KfImvSFjTU1LpgQd3F4l5w==
      ALPHA_VEC: E66YYu84iW50GE66
      RESOURCES_DIR: /resources
      REQ_ACCOUNT: icMZGRCb+RbYUKI5RX7HaM33C3mLyertwbUl2RhYdt8=  
      INFO_APP_VERSION: ${TAG_NAME}
      DOCS_LOCATION: /docs
      LOG_DIR: /applogs
    image: cjmason8/expense-manager:${TAG_NAME}
    external_links:
      - postgres/postgres:postgres
      - authservice/authservice:authService
    volumes:
      - /Users/chris/applogs:/applogs
      - /Users/chris/docs:/docs
      - /Users/chris/resources:/resources
      - /etc/localtime:/etc/localtime
    ports:
      - 8083:8080